<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul><li><h1>Secundario</h1></li>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam, soluta assumenda. Repellendus soluta rerum blanditiis aspernatur velit quas provident quasi mollitia dolorem repellat. Cumque fuga deleniti tempore minus explicabo tempora.</p>
        </ul>
        <ul><li><h1>Universidad</h1></li>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam, soluta assumenda. Repellendus soluta rerum blanditiis aspernatur velit quas provident quasi mollitia dolorem repellat. Cumque fuga deleniti tempore minus explicabo tempora.</p>
        </ul>
        <ul><li><h1>Curso_Argentina Programa</h1></li>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam, soluta assumenda. Repellendus soluta rerum blanditiis aspernatur velit quas provident quasi mollitia dolorem repellat. Cumque fuga deleniti tempore minus explicabo tempora.</p>
        </ul>
    </div>
</div>
