.row{
    background: linear-gradient(to right, rgba(37, 117, 252, 1), rgba(106, 17, 203, 1));
}
footer{
    color: #fefefe;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 2px -2px 5px #999;
}