<div class="row">
   <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img src="../../../assets/perfilPhoto.jpeg" class="img-fluid" id="foto">
   </div>
   <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <p id="nombre">Apellido y nombre completo</p>
    <p>Full Stack Developer Jr</p>
   </div>
   <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
        <h1>Acerca de mí</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet omnis doloremque sunt vel perspiciatis rerum officiis voluptatem harum, voluptate natus unde similique at aut, iusto amet adipisci. In, cum cumque.</p>
    </span>
   </div>

   

</div>