<div class="row">
    <h1>Hard & Soft skill</h1>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="40"
        [radius]="100"
        [showUnits]="false"
        [title]="'HTML'"
        [outerStrokeWidth]="9"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'black'"
        [innerStrokeColor]="'black'"
        [animation]="true"
        [animationDuration]="400"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="35"
        [radius]="100"
        [showUnits]="false"
        [title]="'CSS'"
        [outerStrokeWidth]="9"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'black'"
        [innerStrokeColor]="'black'"
        [animation]="true"
        [animationDuration]="800"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="30"
        [radius]="100"
        [showUnits]="false"
        [title]="'JAVA'"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'black'"
        [innerStrokeColor]="'black'"
        [animation]="true"
        [animationDuration]="800"
    ></circle-progress>
    </div>
</div>