.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*con esto dejo fijo el logo pero taba parte del banner ver como modificar
    o que deberia modificarse*/
    position: fixed;
    top: 0px;
    left: 0px;

    /*aplicamos  un degrade*/
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
}

.redes{
    margin-right: 1.5em;
}

#logoAP {
    width: 100px;
}

img {
    width: 50px;
}

.btn{
    border-width: medium;
}



/* --- para la vista en celulares --*/

@media (max-width: 575px){
    .container{
        flex-direction: column;
    }

    .redes{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
/*--espacio de la imagenes cuando esten en forma de columna*/
    .redes img{
      margin: 0.2em;
    }

}