.container{
    display: flex;
    justify-content: space-between;
    align-items: center;

    /*con esto dejo fijo el logo pero taba parte del banner ver como modificar
    o que deberia modificarse
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: blue;*/
}
.redes{
    margin-right: 0.5em;
}

#logoAP {
    width: 150px;
}

img {
    width: 50px;
}

.btn{
    border-width: medium;
}



/* --- para la vista en celulares --*/

@media (max-width: 575px){
    .container{
        flex-direction: column;
    }

    .redes{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
/*--espacio de la imagenes cuando esten en forma de columna*/
    .redes img{
      margin: 0.2em;
    }

}

