<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo.png" id="logoAP">
        </div>
        <div class="redes">
                <a href="https://facebook.com/yamil.flores.712" target="_blank"><img src="../../../assets/facebook.png" id="facebook"></a>
                <a href="https://github.com/Red1991y" target="_blank"><img src="../../../assets/github.png" id="github"></a>
                <a href="https://instagram.com/carvajalyam/" target="_blank"><img src="../../../assets/instagram.png" id="instagram"></a>
                <a href="https://www.linkedin.com/in/flores-yamil-9485291b8/" target="_blank"><img src="../../../assets/linkedin.png" id="linkedin"></a>
                <a href="https://twitter.com/" target="_blank"><img src="../../../assets/twitter.png" id="twitter"></a>
                <button type="button" class="btn btn-outline-light">INGRESO</button>
        </div>
    </div>
</div>

